<%- include header %>

<div class="blogStats">
    文章共-2-篇&nbsp;|&nbsp;每页-10-条
</div>

<!-- for-->
<div class="article-list">
    <div class="title">讲个故事</div>

    <div class="desc">
        <span>发表于 <time>2016-10-22</time> &nbsp;|&nbsp;</span>
        <span>分类于 <a href="javascript:void(0);"><span>文集</span></a> &nbsp;|&nbsp;</span>
        <span><a href="javascript:void(0);"><span>1条评论</span></a> &nbsp;|&nbsp;</span>
        <span class="is-disabled"><a href="javascript:void(0);"><span>评论已关</span></a> &nbsp;|&nbsp;</span>
        <span class="is-disabled"><a href="javascript:void(0);"><span>禁止阅读</span></a> &nbsp;|&nbsp;</span>
        <span>阅读次数 2044</span>
    </div>

    <div class="btn">
        <span id="addCateBtn" class="ok on" >删除 »</span>
        <span id="addCateBtn" class="ok" >修改 »</span>
    </div>
</div>

<div class="article-list">
    <div class="title">基于node, mongodb应用开发</div>

    <div class="desc">
        <span>发表于 <time>2016-10-22</time> &nbsp;|&nbsp;</span>
        <span>分类于 <a href="javascript:void(0);"><span>文集</span></a> &nbsp;|&nbsp;</span>
        <span><a href="javascript:void(0);"><span>1条评论</span></a> &nbsp;|&nbsp;</span>
        <span>阅读次数 2044</span>
    </div>

    <div class="btn">
        <span id="addCateBtn" class="ok on" >删除 »</span>
        <span id="addCateBtn" class="ok" >修改 »</span>
    </div>
</div>

<%- include footer %>