</div>
</div>
<footer class="footer">
    <section>
        <p>© &nbsp;2014 -2016</p>
        <p>&nbsp;十月设计</p>

        <p>由 <a href="//www.shiyue.pw"><span>SHIYUE.PW</span></a> 完美制作 &nbsp;|&nbsp;</p>
        <p>主题 <a href="//www.shiyue.pw"><span>SYUI</span></a></p>
    </section>
</footer>
</body>
</html>