<%- include header %>

<div id="login">
    <table width="100%" class="new_table">
        <tbody>
            <tr>
                <td class="name">用户名</td>
                <td class="text">
                    <input type="text" id="userName" class="text_input">
                </td>
            </tr>
            <tr>
                <td class="name">密码</td>
                <td class="text">
                    <input type="password" id="passWord" class="text_input">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn">
        <span class="ok loginBtn">登录 »</span>
        <span class="ok regBtn">注册 »</span>
    </div>
</div>

<script src="/admin/js/login.js"></script>
<%- include footer %>