<%- include ../common/header %>

<style type="text/css">

</style>


<div id="upload">

    <input type="file" id="uploadFile" name="image" accept="image/*">
    <div class="btn">
        <span id="submitBtn" class="ok">上传 »</span>
    </div>

</div>

<script src="/js/plugin/upload/compress.js"></script>
<script src="/js/plugin/upload/readerFile.js"></script>
<script src="/js/plugin/upload/loadImage.js"></script>
<script src="/js/plugin/upload/upload.js"></script>
<script src="/js/uploadView.js"></script>


<%- include ../common/footer %>