<%- include header %>
<style type="text/css">
    .errorText{
        word-wrap:break-word;
        word-break:break-all;
        padding: 20px 20px 0 20px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
    }
</style>
<div class="errorText"><%= message %></div>
<%- include footer %>
