<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
    <title>博客<%= title %></title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="email=no">
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/zepto-min.js"></script>
    <script src="/js/common.js"></script>
</head>
<body>

<header id="header">
    <div class="title">
        <h1>//SHIYUE.PW</h1>
        <div class="subtitle">一位硬汉修炼的过程</div>
    </div>

    <nav class="nav">
        <a class="menu on" href="#">首页</a>
        <a class="menu" href="#">文章</a>
        <a class="menu" href="#">分类</a>
        <a class="menu" href="#">关于我</a>
    </nav>
</header>

<!--
<div class="blogStats">
    文章-0&nbsp;
    评论-1&nbsp;
</div>

<div class="homeList bt_none">
    <h2 class="title"><a href="#">讲个故事</a></h2>
    <div class="desc">
        <span>发表于 <time>2016-10-22</time> &nbsp;|&nbsp;</span>
        <span>分类于 <a href="#"><span>文集</span></a> &nbsp;|&nbsp;</span>
        <span><a href="#"><span>1条评论</span></a> &nbsp;|&nbsp;</span>
        <span>阅读次数 2044</span>
    </div>

    <div class="body">
        <p>突然觉得，努力程度的重要性相比起决策来说显得微不足道的多了。好久没更博客，这次我就来讲个小故事吧。</p>
        <div class="more"><a href="#">阅读全文 »</a></div>
    </div>
</div>

<div class="homeList">
    <h2 class="title"><a href="#">为什么青少年爱用QQ，中老年人爱用微信</a></h2>
    <div class="desc">
        <span>发表于 <time>2016-10-22</time> &nbsp;|&nbsp;</span>
        <span>分类于 <a href="#"><span>文集</span></a> &nbsp;|&nbsp;</span>
        <span><a href="#"><span>1条评论</span></a> &nbsp;|&nbsp;</span>
        <span>阅读次数 2044</span>
    </div>

    <div class="body">
        <p>青少年更爱用QQ，而中老年人更爱用微信，这是一个普遍趋势了，当我们看自己的父母把微信玩的爱不释手的时候，却发现我们的表弟表妹侄儿侄女们更倾向于用QQ，知乎里有许多人都对这个问题谈了自己的看法，而我想从产品层面来分析一下这个问题，总的来说，我觉得主要是使用门槛、关系链、用户心理、使用场景这四大原因。</p>
        <div class="more"><a href="#">阅读全文 »</a></div>
    </div>
</div>



<div class="category-tags-list">
    <div class="post-tags">
        <a href="#">设计</a>
        <a href="#" class="on">代码</a>
        <a href="#">文集</a>
        <a href="#">笛子</a>
    </div>
    <ul>
        <li><a href="#">前端实现登录注册与文集展示</a></li>
        <li><a href="#">用CodyHouce做个人相册集和视频集</a></li>
        <li><a href="#">用reveal.js做一个在线CV</a></li>
        <li><a href="#">C++实现两个栈模拟一个队列</a></li>
    </ul>
</div>


<div class="category">
    <div class="title">目前共计 (7) 个分类</div>
    <div class="post-tags">
        <a href="#">交互 <span>(0)</span></a>
        <a href="#">前端 <span>(3)</span></a>
        <a href="#">设计 <span>(1)</span></a>
        <a href="#">产品 <span>(8)</span></a>
        <a href="#">代码 <span>(20)</span></a>
        <a href="#">文集 <span>(55)</span></a>
        <a href="#">笛子 <span>(0)</span></a>
    </div>
</div>


<div class="category">
    <div class="title">目前共计 (10) 个标签</div>
    <div class="post-tags">
        <a href="#">#交互</a>
        <a href="#">#前端</a>
        <a href="#">#设计</a>
        <a href="#">#产品</a>
        <a href="#">#代码</a>
        <a href="#">#文集</a>
        <a href="#">#笛子</a>
    </div>
</div>


<div class="post-tags">
    <a href="#">#交互</a>
    <a href="#">#UI</a>
    <a href="#">#MONGODB</a>
</div>


<div class="post-prev">
    <a href="#">« 前端文章测试1</a>
</div>-->
